#body
{
    padding:0;
    margin:0;
    background: lightgray;
}

#footer
{
    width:100%;
    background-color: #ddd;
    padding:10px;
    font-size: 9pt;
    color: gray;
}

#footer A
{
    color: gray;
}

#footer A:hover
{
    color: darkslategray;
}

#footer-content
{
    width: 70%;
    margin:auto;
}

#page-header
{
    width: 100%;
    height: 100px;
    background-color: #ddd;
    margin:0;
    padding:0;
}

#page-content
{
    width: 950px;
    margin:auto;
    background-color: white;
    border: #ddd solid 1px;
}
/*-----------------------------INPUT------------------------*/
#input-form
{
    width: 800px;
    height: 70px;
    margin:auto;
}

#media-location
{
    width: 400px;
    height: 40px;
    padding:0;
}

.playlist-button
{
    height: 40px;
}

/*-----------------------------PLAYLIST---------------------*/
#playlist
{
    width:450px;
    height:400px;
    /*TODO do it with JS*/
    overflow: auto;

}
.playlist_evenElement
{
    background-color: lightblue;
}

.playlist_oddElement
{
    background-color: lightskyblue;
}

.playlist_hoverElement
{
    background-color: lightgreen;
    cursor: crosshair;
}
/*------------------------------MEDIA------------------*/
#media-content
{
    /*---FOR TESTS ONLY---*/
    background-color: green;
    width:900px;
    margin:auto;
}

#media-element
{
    width: 450px;
    height: 338px;
    background-color: lightcoral;
    display: block;
}

#playback-control
{
    width: 450px;
    height: 42px;
    background-color: lightsalmon;
}

/*----------------------------LOGGER----------------------*/
#logger-header
{
    width:500px;
    margin: auto;
    font-size: 10pt;
}

.logger-info, .logger-error, .logger-warning, .logger-debug
{
    font-size: 9pt;
    width:800px;
    margin: auto;
}

.logger-info
{
    background-color: lightyellow;
}

.logger-error
{
    background-color: lightcoral;
}

.logger-debug
{
    background-color: lightblue;
}

.logger-warning
{
    background-color: lightpink;
}

/*--------------------------------TESTS---------------------------*/
#testing-helper
{
    width:500px;
    margin: auto;
    font-size: 10pt;
}

#error-report
{
    font-size: 11pt;
    background-color: lightsalmon;
}

