#footer{
    height:160px;
    width:100%;
    background-color: #ddd;
}
/*-----------------------------PLAYLIST---------------------*/
.youtube-player-playlist{
    height:100%;
    background:green;
	margin:0;
	padding:0;
}

.ui-state-default, .ui-state-active{
    height:30px;
    font-size: 18pt;
    background-color: gold;
    cursor:pointer;
}

.ui-state-active{
    background-color: orange;
}

.ui-state-default:hover{
    background-color: yellow;
}

