body
{
    color: #D9CB9E;
    background-color: #2A2C2B !important;
}

body A
{
    color: #D9CB9E;
}

body A:hover
{
    color: #DC3522;
}
/*-------WELCOME-SCREEN-----------*/
#welcome-screen
{
    background-color: #2A2C2B;
}

/*-------HEADER-----------*/
#header
{
    border-bottom:1px solid #374140;
    background-color: #1E1E20;
}
/*--------PLAYLIST----------*/
.playlist-item-current
{
    background-color: #2A2C2B !important;
    border-left:5px solid #DC3522;
}

.playlist-item-cover
{
    border:1px solid #1E1E20;
    background-color: #2A2C2B;
}

#playlist-progressbar
{
    background-color: #DC3522;
}

.playlist-item-name,
.playlist-item-details,
.playlist-item-time,
.playlist-item-icons
{
    color: #D9CB9E;
}

.playlist-item-like,
.playlist-item-remove
{
    color: #D9CB9E;
}

.playlist-item-like:hover,
.playlist-item-remove:hover,
.playlist-item-edit:hover
{
    color: #DC3522;
}

.playlist-item-even,
.playlist-item-odd
{
    border-top:  1px solid #555756;
}

.playlist-item-even
{
    background-color: #374140;
}

.playlist-item-odd
{
    background-color: #374140;
}

.playlist-item-odd:hover,
.playlist-item-even:hover
{
    background-color: #1E1E20;
}

.playlist-item-index
{
    background:#374140;
    color: #D9CB9E;
    border:2px solid #2A2C2B;
}
/*--------PLAYLIST_ITEM_EDITOR----------*/
.playlist-item-editor
{
    background-color: #374140;
    color:#D9CB9E;
}

.playlist-item-editor-form input
{
    background-color: #D9CB9E;
    border:1px solid #DC3522;
    color:#374140;
}

.playlist-editor-verification-ok
{
    color:green;
}

.playlist-editor-verification-err
{
    color:yellow;
}
/*--------BUTTONS----------*/
#color-scheme-control-light-button
{
    background-color: transparent;
    color: #D9CB9E;
}

.playback-control-button:disabled,
.playlist-control-button:disabled,
.playlist-editor-button:disabled
{
    background-color:#374140 !important;
    color: #626e6d !important;
    cursor: default !important;
}

.playback-control-button,
.playlist-control-button,
.playlist-add-button,
.playlist-editor-button
{
    background-color:#374140;
    color:#DC3522;
}

.playlist-editor-button
{
    background-color: #2A2C2B;
}


.playlist-control-button:hover,
.playlist-add-button:hover,
.playlist-editor-button:hover
{
    background-color: #1E1E20;
}

.playlist-control-button-selected
{
    color: #D9CB9E;
}

/*-----------ACCOUNTS----------------*/
.accounts-login-button
{
    color: #1E1E20;
    background-color: #DC3522;
}

.accounts-login-button:hover
{
    color: #1E1E20;
    background-color: #D9CB9E;
}

/*-----------SEARCH----------------*/
.search-result-add-button
{
    color:#DC3522;
    background-color: #1E1E20;
}

.search-result-item:hover
{
    background-color: #374140;
}

#search-results-container
{
    background-color: #1E1E20;
    border: 2px solid #374140;
    border-bottom-width: 0;
}
/*--------VOLUME--CONTROL----------*/
.volume-control-description
{
    color:#DC3522;
}

.volume-control-description i
{
    width:100%;
}

.volume-control-indicator-container
{
    background-color:#374140;
}

.volume-control-indicator
{
    background-color: #D9CB9E;
}

.volume-control-disabled
{
    background-color:#374140 !important;
    color: #626e6d !important;
    cursor: default !important;
}
/*------------------*/

.playlist-add-input
{
    border:1px solid #D9CB9E;
    color: #D9CB9E;
    background-color: #374140;
    padding-left:10px;
    font-size: 12pt;
}

::-webkit-input-placeholder { color:#D9CB9E; }
::-moz-placeholder { color:#D9CB9E; } /* firefox 19+ */
:-ms-input-placeholder { color:#D9CB9E; } /* ie */
input:-moz-placeholder { color:#D9CB9E; }

/*--------CONTEXT_MENU-------------*/
.context-menu-item:hover
{
    background-color:#626e6d;
    color: #D9CB9E;
}

.context-menu-body
{
    border:1px solid #626e6d;
    background-color:#1E1E20;
    color:#D9CB9E;
}

.context-menu-separator hr
{
    border-top:1px solid #626e6d;
}
/*--------PLAYBACK--PROGRESS----------*/
.playback-progress-bar-container,
.playback-data-bar-container
{
    background-color: #374140;
}

.playback-data-bar-container
{
    background-color: #374140;
}

.playback-progress-bar-container
{
    background-color: #374140;
}

.playback-progress-bar
{
    background-color: #1E1E20;
}

.playback-data-bar
{
    background-color: #DC3522;
}

.playback-details-container
{
    color:#D9CB9E;
}

.playback-details-disabled
{
    background-color:#374140 !important;
    color: #626e6d !important;
    cursor: default !important;
}
/*--------USER--NOTIFICATION----------*/
.user-notification-info
{
    border:1px solid #374140;
    background-color:#1E1E20;
    color:#D9CB9E;
}

.user-notification-error
{
    border:1px solid #DC3522;
    background-color:#1E1E20;
    color:#DC3522;
}

.user-notification-close > button,
.user-notification-undo > button
{
    color:#D9CB9E;
}
/*--------MENU----------*/
#menu
{
    background-color: #1E1E20;
    border-right:1px solid #374140;
}

.menu-item-container
{
    background-color: #1E1E20;
    color:#D9CB9E;
}

.menu-item-container:hover
{
    background-color: #374140;
    color:#D9CB9E;
}
/*--------MODAL----------*/
.modal-content
{
    background-color: #374140;
    border:1px solid #1E1E20;
}

.modal-overlay
{
    background-color: #374140;
}
/*--------LOGGER----------*/
.logger-info
{
    background-color: lightyellow;
}

.logger-error
{
    background-color: lightcoral;
}

.logger-debug
{
    background-color: lightblue;
}

.logger-warning
{
    background-color: lightpink;
}

/*--------TESTER----------*/