body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
{
    font-family: 'Lato', sans-serif;
}

body
{
    margin:0;
    padding:0;
    height:100%;
}

#page
{
    min-height:100%;
    position:relative;
    display: none;
}

#page-content
{
    min-height:300px;
    width: 930px;
    padding-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

#controls-schemes
{
    display: none;
}

/*----------------------------------------------LOADING-INDICATOR------------------------------------------*/
#loading-indicator, .loading-indicator-overlay
{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#loading-indicator
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-indicator-overlay
{
    position:absolute;
    opacity: 1;
    z-index: 99;
}

#loading-indicator .loading-indicator-content
{
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    max-height: 400px;
    min-height: 200px;

    padding: 4em;
    text-align: center;
    position: relative;
    opacity:1;
    z-index: 100;
}
/*----------------------------------------------WELCOME--SCREEN------------------------------------------*/
#welcome-screen
{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 98;
    display: none;
}

#welcome-screen-description
{
    color: black;
    font-size: 20pt;
    background-color: #DC3522;
}

#welcome-screen-try-it-btn
{
    font-size: 18pt;
    background-color: #1E1E20;
    color: #D9CB9E;
    padding:15px;
    border: 1px solid #D9CB9E;
}

#welcome-screen-try-it
{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#welcome-screen-details
{
    min-height:450px;
}

.welcome-screen-content
{
    width: 900px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left:auto;
    margin-right:auto;
    font-size: 18pt;
    line-height: 30pt;
    text-align: center;
}


.welcome-detail-content
{
    padding:5px;
    text-align: center;
    margin-top:10px;
    width:90%;
    font-size: 10pt;
    color: #D9CB9E;
    line-height: 14pt;
}

.welcome-detail-content-title
{
    font-size: 18pt;
    margin-bottom: 10px;
}

/*------------------------------------------------HEADER------------------------------------------*/

#header
{
    width: 100%;
    height: 70px;
    margin:0;
}

#header-content
{
    width:900px;
    height:100%;
    margin:auto;
    padding:10px;
}

#header-content-logo
{
    width:120px;
    position: fixed;
    left: 10px;
    top:10px;
}

.header-content-name
{
    font-size: 20pt;
}

.header-content-version
{
    font-size: 9pt;
    float: right;
}

#header-session-details-container
{
    float:right;
    margin-right:3px;
}

.header-session-button
{
    border-style: none;
    height:35px;
}

.header-session-button A
{
    text-decoration: none;
}

#color-scheme-control
{
    height:50px;
    float: left;
    margin-left:20px;
    margin-top:10px;
}

.color-scheme-control-button
{
    border-style:none;
    font-size: 10pt;
}

#settings-control-buttons-container
{
    float:right;
}

.settings-control-button
{
    border-style: none;
    height:35px;
    width:35px;
}
/*-----------------------------PROGRESSBAR------------------*/
#progressbar-container
{
    width:100%;
}

.progressbar-body
{
    height:4px;
    background-color: red;
}

.progressbar
{
    height:10px;
}

.progressbar-title
{
    text-align: center;
    color:white;
    font-size: 8pt;
    margin-left:auto;
    margin-right:auto;
    height:10px;
    width:100%;
}
/*-----------------------------INPUT------------------------*/
#input-form
{
    width: 800px;
    height: 70px;
    margin:auto;
}

#media-location
{
    width: 400px;
    height: 40px;
    padding:0;
}

.playlist-button
{
    height: 40px;
}

/*-----------------------------PLAYLIST---------------------*/
#playlist
{
    width:450px;
    height:338px;
    /*TODO do it with JS*/
    overflow: auto;
}

.playlist-item-name, .playlist-item-details
{
    height:20px;
    margin-top:3px;
    font-size: 12pt;
    float:left;
    width:100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-item-cover
{
    height: 40px;
    width: 40px;
    float: right;
    margin-top:5px;
    margin-right:5px;
    border-radius: 100%;
}

#playlist-progressbar
{
    height:2px;
    display: none;
}

.playlist-item-icons
{
    margin-top:2px;
}

.playlist-item-time
{
    margin-top:4px;
    float:left;
    font-size: 10pt;
    width:100px;
}

.playlist-item-button
{
    margin-top:10px;
}

.playlist-item-buttons
{
    float:right;
    margin-right:15px
}

.playlist-item-even, .playlist-item-odd
{
    height:50px;
}

.playlist-item-odd:hover, .playlist-item-even:hover
{
    cursor: pointer;
}

.playlist-item-index
{
    height:20px;
    width:20px;
    margin-top:10px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size:9pt;
    font-weight: bold;
    line-height:20px;
}
/*------------------------------PLAYLIST--ITEM--EDITOR--LIST------------*/
#playlist-editor-list-container
{
    width:450px;
    height:338px;
    /*TODO do it with JS*/
    overflow: auto;
}

.playlist-editor-list-item
{
    height:50px;
}

.playlist-editor-list-item:hover
{
    cursor:pointer;
}

.playlist-editor-list-item-artist-name,
.playlist-editor-list-item-album-name,
.playlist-editor-list-item-artist-icon,
.playlist-editor-list-item-album-icon
{
    height:20px;
}

.playlist-editor-list-item-artist-icon,
.playlist-editor-list-item-album-icon
{
    margin-top:5px;
    margin-left:5px;
}
/*------------------------------PLAYLIST--ITEM--EDITOR------------------*/
#playlist-editor
{
    padding-top:85px;
}

#playlist-item-editor-container
{
    width:450px;
    height:338px;
}

#playlist-item-editor
{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:370px;
    text-align: center;
}

.playlist-item-editor-form label
{
    display:block;
    height:25px;
    margin-top:10px;
    text-align: left;
}

.playlist-item-editor-form input
{
    height:30px;
    padding:3px;
    width:90%;
    float:left;
}

.playlist-editor-verification
{
    height:25px;
    width:25px;
    float:right;
}

.playlist-item-editor-form button
{
    margin-top:20px;
}

.playlist-editor-line
{
    display:block;
    height:35px;
}

.playlist-editor-button
{
    height:40px;
    width:50px;
    border-style:none;
}

.playlist-editor-verification-ok, .playlist-editor-verification-err
{
    display:none;
    height:25px;
    padding:6px;
}
/*------------------------------ACCOUNTS------------------*/
.account-active-details-container
{
    width:90%;
    display:block;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
}

.account-active-info
{
    width:70%;
}

.account-active-picture > img
{
    height:100px;
    width:100px;
}

.accounts-login-button
{
    height: 55px;
    width:250px;
    border-style: none;
    display:block;
    margin-top:25px;
    margin-left:auto;
    margin-right:auto;
}

/*------------------------------MEDIA------------------*/
#player
{
    width:900px;
    margin:auto;
    position:relative;
}

#media-player
{
    width: 450px;
    height: 338px;
}

:-webkit-full-screen #media-player
{
    width: 100%;
    height: 100%;
}
/*----------------------------PLAYBACK---CONTROLS-------*/

#media-player-playback-controls-container
{
    margin-top:10px;
    height:50px;

    width:900px;
    margin-left:auto;
    margin-right:auto;

    position:relative;
}

#media-player-controls
{
    float:left;
    width:200px;
    display:block;
}

#playback-control
{
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.playback-control-button
{
    height:35px;
    width:50px;
    text-align: center;
    float:left;
    border-style: none;
}

/*---------------------------VOLUME---CONTROL------------*/
#playback-control-volume-container
{
    position:absolute;
    right:0;
    width:130px;
}

.volume-control-description
{
    height:33px;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
}

.volume-control-indicator-container
{
    height:35px;
    position: relative;
    cursor:ew-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.volume-control-disabled
{
    cursor:none !important;
}

.volume-control-indicator
{
    height:100%;
    position:absolute;
    bottom:0;
}
/*----------------------------PROGRESS---BARS----------*/
#media-player-playback
{
    position:absolute;
    right:130px;
    left:200px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#playback-progress-container
{
    top:0;
    position: relative;
    height:35px;
    cursor: ew-resize;
}

.playback-progress-bar-container,
.playback-data-bar-container,
.playback-details-container
{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.playback-progress-bar-container,
.playback-data-bar-container
{
    width:100%;
}

.playback-data-bar-container,
.playback-data-bar
{
    height:2px;
}

.playback-progress-bar-container,
.playback-progress-bar
{
    height:35px;
}

/*---PROGRESS-DETAILS----*/
.playback-details-container
{
    text-align: center;
    font-size: 12pt;
    display: block;
}

.playback-time,
.playback-details
{
    height:20px;
    width:95%;
    margin: auto;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*---------------------------PLAYLIST----CONTROLS--------*/
#media-playlist-control
{
    float:left;
    width:210px;
    height:35px;
    display:block;
}

#playlist-control
{
    margin-left:auto;
    margin-right:auto;
}

.playlist-control-button
{
    float:left;
    height:35px;
    width:35px;
    text-align: center;
    border-style: none;
    padding:0;
}

/*----------------------------PLAYLIST--ADD---------------*/
.playlist-add-container
{
    height:40px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
}

.playlist-add-input
{

    height:35px;
    font-size: 9pt;
    vertical-align: top;
}

.playlist-add-button
{
    height:40px;
    width:70px;
    padding-top:5px;
    border-style:none;
}

/*------------------------------SEARCH---RESULTS--------------------------------------------*/
#search-results
{
    width:500px;
    margin-left:145px;
    position: absolute;

    display: none;
}

#search-results-container
{
    height:300px;
    overflow: auto;
    position: relative;
    z-index: 9999;
}

#search-result-pagination
{
    float:left;
    padding:5px;
}

.search-result-item
{
    height:35px;
    cursor: pointer;
}

.search-result-title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
    cursor: pointer;
}

.search-result-add-button
{
    border-style:none;
}

.search-result-icons
{
    padding-top: 10px;
    letter-spacing: 5px;
    float:right;
    text-align: right;
}

.search-result-cover
{
    height:35px;
    width:35px;
    border-radius: 100%;
}

.search-result-previous-button,
.search-result-next-button,
.search-result-close-button
{
    border-style:none;
    height:25px;
    width:25px;
}
/*----------------------------NOTIFICATIONS----------------------*/
#user-notifications-container
{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    width:900px;
    position: fixed;
    bottom: 90px;
}

.user-notification-info,
.user-notification-error
{
    height:35px;
    width:750px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:5px;
}

.user-notification-icon
{
    text-align: center;
}

.user-notification-icon > i
{
    margin-top:10px;
}

.user-notification-message
{
    font-size: 12pt;
    line-height:35px;
}

.user-notification-undo
{
    right:0;
}
.user-notification-undo > button
{
    height:35px;
    border-style: none;
    background-color: transparent;
}

.user-notification-close > button
{
    border-style: none;
    background-color: transparent;
    margin-top:5px;
}

.user-notification-icon,
.user-notification-message,
.user-notification-undo,
.user-notification-close
{
    height:30px;
}

.user-notification-message
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*----------------------------PAGES----------------------*/
.application-page
{
    padding:15px;
}

.application-page-hidden
{
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}
/*----------------------------MENU----------------------*/
#menu
{
    width:200px;
    display:block;
    position:absolute;
    overflow: hidden;
    top:70px;
    bottom:0;
    left:0;
}

.menu-item-container
{
    /*display: inline;*/
    width:220px;
    height:35px;
    cursor:pointer;
    padding-top:10px;
    padding-bottom:10px;
}

.menu-top
{
    position: absolute;
    top:0;
}

.menu-bottom
{
    position: absolute;
    bottom:0;
}

.menu-item-button
{
    width: 35px;
    height: 35px;
    margin-left:10px;
}

.menu-item-title
{
    width: 150px;
    height:35px;
    line-height: 35px;
    font-size:13pt;
    margin-left:15px;
}
/*----------------------------LOGGER----------------------*/
#logger-content
{
    height:430px;
    overflow-y:auto;
    overflow-x:hidden;
}

#logger-header
{
    width:500px;
    margin: auto;
    font-size: 10pt;
}

.logger-info, .logger-error, .logger-warning, .logger-debug
{
    font-size: 9pt;
    width:800px;
    margin: auto;
}
/*--------------------------------TESTS---------------------------*/
#testing-environment
{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    border:1px solid #2A2C2B;
    background-color: #D9CB9E;
    color:#1E1E20;
}

#testing-helper
{
    width:500px;
    margin: auto;
    font-size: 9pt;
}

#error-report
{
    font-size: 9pt;
    background-color: lightsalmon;
}

#feature-report
{
    font-size:9pt;
    background-color: mediumseagreen;
}




