body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"]
{
    font-family: 'Lato', sans-serif;
}

body
{
    margin:0;
    padding:0;
    height:100%;
}

#page
{
    min-height:100%;
    position:relative;
}

#page-content
{
    min-height:300px;
    width: 900px;
    padding-bottom: 150px;
    margin-left:auto;
    margin-right:auto;
}

/*----------------------------------------------FOOTER--------------------------------------------*/

#footer
{
    font-size: 9pt;
    width:100%;
    position:absolute;
    bottom:0;
}

#footer-content
{
    width: 800px;
    margin:auto;
    padding:10px;
    text-align:center;
}

.footer-line
{
    border:0;
    height:1px;
}

.footer-licencing
{
    text-align: center;
    padding-top:15px;
}

/*------------------------------------------------HEADER------------------------------------------*/

#header
{
    width: 100%;
    height: 70px;
    margin:0;
}

#header-content
{
    width:800px;
    height:100%;
    margin:auto;
    padding:10px;
}

#header-content-logo
{
    width:120px;
    float:left;
}

.header-content-name
{
    font-size: 20pt;
}

.header-content-version
{
    font-size: 9pt;
    float: right;
}

#header-session-details-container
{
    float:right;
    margin-right:3px;
}

.header-session-button
{
    border-style: none;
    height:35px;
}

.header-session-button A
{
    text-decoration: none;
}

#color-scheme-control
{
    height:50px;
    float: left;
    margin-left:20px;
    margin-top:10px;
}

.color-scheme-control-button
{
    border-style:none;
    font-size: 10pt;
}

#header-control-buttons-container
{
    float:right;
}

.header-control-button
{
    border-style: none;
    height:35px;
    width:35px;
}

/*-----------------------------INPUT------------------------*/
#input-form
{
    width: 800px;
    height: 70px;
    margin:auto;
}

#media-location
{
    width: 400px;
    height: 40px;
    padding:0;
}

.playlist-button
{
    height: 40px;
}

/*-----------------------------PLAYLIST---------------------*/
#playlist
{
    width:450px;
    height:338px;
    /*TODO do it with JS*/
    overflow: auto;
}

.playlist-item-name, .playlist-item-details
{
    height:20px;
    margin-top:3px;
    font-size: 12pt;
    float:left;
    width:100%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist-item-cover
{
    height: 40px;
    width: 40px;
    float: right;
    margin-top:5px;
    margin-right:5px;
    border-radius: 100%;
}

#playlist-progressbar
{
    height:2px;
    display: none;
}

.playlist-item-icons
{
    margin-top:2px;
}

.playlist-item-time
{
    margin-top:4px;
    float:left;
    font-size: 10pt;
    width:100px;
}

.playlist-item-button
{
    margin-top:10px;

}

.playlist-item-buttons
{
    width:70%;
    height:45px;
    float:right;
    margin-right:10px
}

.playlist-item-even, .playlist-item-odd
{
    height:50px;
}

.playlist-item-odd:hover, .playlist-item-even:hover
{
    cursor: pointer;
}

.playlist-item-index
{
    height:20px;
    width:20px;
    margin-top:10px;
    border-radius: 5px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size:9pt;
    font-weight: bold;
    line-height:20px;
}
/*------------------------------PLAYLIST--ITEM--EDITOR------------------*/
#playlist-item-editor-container
{
    width:450px;
    height:338px;
    position: absolute;
    top:0;
    left:0;
    /*-it is displayed on demand, but by default should be hidden-*/
    display: none;
}

#playlist-item-editor
{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:370px;
    margin-top:30px;
    text-align: center;
}

.playlist-item-editor-form label
{
    display:block;
    height:25px;
    margin-top:10px;
    text-align: left;
}

.playlist-item-editor-form input
{
    height:30px;
    padding:3px;
    width:90%;
    float:left;
}

.playlist-editor-verification
{
    height:25px;
    width:25px;
    float:right;
}

.playlist-item-editor-form button
{
    margin-top:20px;
}

.playlist-editor-line
{
    display:block;
    height:35px;
}

.playlist-editor-button
{
    height:40px;
    width:50px;
    border-style:none;
}

.playlist-editor-verification-ok, .playlist-editor-verification-err
{
    display:none;
    height:25px;
    padding:6px;
}
/*------------------------------MEDIA------------------*/
#media-content
{
    width:900px;
    margin:auto;
    position:relative;
}

#media-player
{
    width: 450px;
    height: 338px;
    background-image:url('../media/online_scrobbler_test_screen.png');
}
/*----------------------------PLAYBACK---CONTROLS-------*/

#media-player-playback-controls-container
{
    margin-top:10px;
    height:50px;
    width:900px;
    margin-left:auto;
    margin-right:auto;
}

#media-player-controls
{
    float:left;
    width:180px;
    display:block;
}

#playback-control
{
    height: 35px;
    margin-left: auto;
    margin-right: auto;
}

.playback-control-button
{
    height:35px;
    width:60px;
    text-align: center;
    float:left;
    border-style: none;
}

/*---------------------------VOLUME---CONTROL------------*/
#playback-control-volume-container
{
    float:left;
    width:130px;
}

.volume-control-description
{
    height:33px;
    position:absolute;
    bottom:0;
    width:100%;
    text-align: center;
}

.volume-control-indicator-container
{
    height:35px;
    position: relative;
    cursor:ew-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.volume-control-indicator
{
    height:100%;
    position:absolute;
    bottom:0;
}
/*---------------------------PLAYLIST----CONTROLS--------*/
#media-playlist-control
{
    float:left;
    width:175px;
    height:35px;
    display:block;
}

#playlist-control
{
    margin-left:auto;
    margin-right:auto;
}

.playlist-control-button
{
    float:left;
    height:35px;
    width:35px;
    text-align: center;
    border-style: none;
    padding:0;
}

/*----------------------------PLAYLIST--ADD---------------*/
.playlist-add-container
{
    height:40px;
    width:500px;
    margin-left:auto;
    margin-right:auto;
}

.playlist-add-input
{

    height:35px;
    font-size: 9pt;
    vertical-align: top;
}

.playlist-add-button
{
    height:40px;
    width:70px;
    padding-top:5px;
    border-style:none;
}

/*----------------------------PROGRESS---BARS----------*/
#media-player-playback
{
    float:left;
    min-width:415px;
    cursor: ew-resize;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#playback-progress-container
{
    top:0;
    position: relative;
    height:35px;
}

.playback-progress-bar-container,
.playback-data-bar-container,
.playback-details-container
{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}

.playback-progress-bar-container,
.playback-data-bar-container
{
    width:100%;
}

.playback-data-bar-container,
.playback-data-bar
{
    height:2px;
}

.playback-progress-bar-container,
.playback-progress-bar
{
    height:35px;
}

/*---PROGRESS-DETAILS----*/
.playback-details-container
{
    text-align: center;
    font-size: 12pt;
    display: block;
}

.playback-time,
.playback-details
{
    height:20px;
    width:100%;
    margin: auto;
}

.playback-time
{
    display:none;
}
/*----------------------------LOGGER----------------------*/
#logger-content
{
    height:430px;
    overflow-y:auto;
    overflow-x:hidden;
}

#logger-header
{
    width:500px;
    margin: auto;
    font-size: 10pt;
}

.logger-info, .logger-error, .logger-warning, .logger-debug
{
    font-size: 9pt;
    width:800px;
    margin: auto;
}
/*--------------------------------TESTS---------------------------*/
#testing-environment
{
    width:800px;
    margin-left:auto;
    margin-right:auto;
    border:1px solid #2A2C2B;
    background-color: #D9CB9E;
    color:#1E1E20;
}

#testing-helper
{
    width:500px;
    margin: auto;
    font-size: 9pt;
}

#error-report
{
    font-size: 9pt;
    background-color: lightsalmon;
}

#feature-report
{
    font-size:9pt;
    background-color: mediumseagreen;
}

.testing-environment-hide-button
{
    float: right;
    color: darkred;
}

.test-environment-color
{
    color:darkred;
}




